#account-center-block {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#stats {
    height: 60%;
    width: 100%;
}

#details {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#stats,
#details {
    padding-left: 2%;
    padding-right: 2%;
}

#stats-header,
#details-header {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

#stats-header-left {
    display: flex;
    align-items: center;
    width: 10%;
}

.account-center-hr {
    height: 1px;
    width: 85%;
    background-color: var(--bs-body-color);
}

#stats-body {
    display: flex;
    height: 90%;
}

#stats-posts {
    align-items: start;
}

#stats-session {
    align-items: end;
}

#stats-posts,
#stats-session {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: space-between;
}

#stats-posts>*,
#stats-session>* {
    width: 98%;
    height: 100%;
    margin-bottom: 1em;
}

#total-posts, #total-scheduled-posts {
    font-size: 3em;
    font-family: monospace;
}