#table {
    width: 100%;
    overflow-x: auto;
}

#dashboard-header {
    vertical-align: middle;
    width: fit-content;
    font-weight: bold;
    font-size: x-large;
    border-bottom: 1px solid #dc3545;
}

.charts-container {
    margin-bottom: 3em;
    padding-bottom: 1em;
    display: flex;
}

.chart-container {
    width: 33%;
}

.charts-spinner {
    display: none;
    margin-top: 50%;
    margin-left: 45%;
}

#dashboard-announcement-container {
    width: 100%;
    display: none;
    justify-content: center;
}

#dashboard-announcement {
    display: flex;
    flex-direction: column;
    color: rgb(67, 65, 65);
    padding: 1em;
    margin: 1em;
    width: 80%;
    background-color: antiquewhite;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.5em;
    position: relative;
}

#close-dashboard-announcement-button {
    position: absolute;
    left: 1em;
    color: #434141;
    cursor: pointer;
}

#close-dashboard-announcement-button:active {
    background-color: #d9d5d5;
}

#filter-button-container {
    display: flex;
    justify-content: end;
}

#filter-button {
    padding-top: 2em;
    align-self: self-end;
}

.filter-option {
    display: flex;
    justify-content: space-between;
}

.bullets-ul {
    position: absolute;
    display: flex;
    top: 2px;
    flex-direction: column;
    padding: 0;
    line-height: 1;
}

.bullet {
    cursor: help;
}

.bullet-span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

#envelop-icon {
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    left: 10px;
}

#reports-header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: #67af8e;
    border-bottom: 1px solid #d9d5d5;
}

.report-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d5d5;
}

.report-content {
    width: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.report-content:active {
    white-space: wrap;
    overflow: visible;
    height: fit-content;
}

.reporter-id {
    width: 30px;
}

#reports-badge {
    display: none;
}