body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: fit-content;
}

nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
}

main {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex: 1;
}

th,
td {
    vertical-align: middle;
}

#notifications-toasts-container {
    position: absolute;
    top: 4em;
    right: 0.8em;
}

/* items in account drop down */
a.dropdown-item {
    text-align: center;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 2em;
}

#scheduleds-page {
    width: 100%;
}

#cookie-msg {
    margin-top: 1rem;
    margin-bottom: 0;
}

#facebook-login-ol>* {
    text-align: start;
}

#bug-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
}

footer {
    margin-top: 1%;
    padding: 1%;
}