/* Desktop */
@media screen and (min-width: 1024px) {
    #chat-window {
        width: 65%;
    }

    #login-director-card {
        width: 75%;
    }

    .account-center-icon {
        display: none;
    }

    .account-center-sub-header {
        display: "";
    }
}

/* Medium */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .account-center-icon {
        display: none;
    }

    .account-center-sub-header {
        display: "";
    }
}

/* Mobile */
@media screen and (min-width: 375px) and (max-width: 768px) {
    #main-block {
        margin-top: 0px;
        justify-content: space-between;
    }

    #chat-window {
        width: 100%;
        min-height: 100%;
        max-height: 100%;
    }

    nav {
        position: fixed !important;
        top: auto;
        bottom: 0;
        padding: 0.5em !important;
    }

    main {
        margin-top: 0;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
    }

    #messages-area {
        height: 80%;
    }

    #login-director-card {
        width: 100%;
    }

    footer {
        display: none;
    }

    #notifications-toasts-container {
        top: 1em;
        right: 50%;
        transform: translateX(50%);
    }

    .account-center-icon {
        display: "";
    }

    .account-center-sub-header {
        display: none;
    }
}

/* Tiny */
@media screen and (max-width: 375px) {
    nav {
        position: fixed !important;
        top: auto;
        bottom: 0;
        padding-bottom: 1.8em !important;
    }

    .account-center-icon {
        display: "";
    }

    .account-center-sub-header {
        display: none;
    }
}

/* Tiny to medium */
@media screen and (min-width: 0px) and (max-width: 768px) {
    main {
        margin-top: 0;
        padding-top: 1%;
    }

    .card-body {
        height: 75%;
    }

    #stats {
        height: 80%;
    }

    #stats-header {
        margin-bottom: 0.1%;
    }

    #stats-body {
        display: block;
    }

    #stats-posts {
        height: 66%;
        width: 100%;
        align-items: center;
        margin-bottom: 0.1%;
    }

    #stats-posts>* {
        height: 43%;
    }

    #stats-session {
        height: 33%;
        width: 100%;
        align-items: center;
    }
}