/* Desktop */
@media screen and (max-width: 1024px) {
    main {
        padding-top: 1rem;
    }

    #chat-window {
        width: 75%;
    }

    #login-director-card {
        width: 75%;
    }
}

/* Medium */
@media screen and (min-width: 768px) and (max-width: 1024px) {}

/* Mobile */
@media screen and (max-width: 768px) {
    #main-block {
        margin-top: 0px;
        justify-content: space-between;
    }

    #chat-window {
        width: 100%;
        min-height: 100%;
        max-height: 100%;
    }

    nav {
        position: fixed !important;
        top: auto;
        bottom: 0;
        padding: 0.5em !important;
    }

    main {
        margin-top: 0;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
    }

    #messages-area {
        height: 80%;
    }

    #login-director-card {
        width: 100%;
    }

    #details-layout {
        grid-template-areas:
            "nameGeneral . nameSpecific"
            "emailGeneral . emailSpecific"
            ". . authentication-needed"
            "passwordGeneral . passwordSpecific"
            ". reset ."
        ;
    }

    footer {
        display: none;
    }
}