{% extends "main_layout.html" %}

{% block title %}: Dashboard{% endblock %}

{% block main %}
<div id="app-owner-area" class="container-fluid">
    <!-- announcement-area -->
    <div id="dashboard-announcement-container">
        <div id="dashboard-announcement">
            <svg id="close-dashboard-announcement-button" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path
                    d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                <path
                    d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
            </svg>
            <p>• When a user logs in, out or returns to the app - the charts and table will get refreshed immediatly.
            </p>
            <p>• When a user closes the app without explicitly logging out - they will be considered offline at the
                beginning of the next minute.</p>
            <p>• All filters are zeroed at refresh.</p>
        </div>
    </div>

    <!-- charts area -->
    <span>
        <p id="dashboard-header">SocialHub's Charts</p>

        <div class="charts-container">

            <!-- free vs premium -->
            <div class="chart-container">
                <div class="charts-spinner spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <canvas id="type-chart" width="400" height="400"></canvas>
            </div>

            <!-- accounts vs currently connected -->
            <div class="chart-container">
                <div class="charts-spinner spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <canvas id="status-chart" width="400" height="400"></canvas>
            </div>
        </div>
    </span>

    <!-- table area -->
    <span>
        <p id="dashboard-header">SocialHub's Tables</p>

        <!-- search filter -->
        <div class="row pb-5 justify-content-between">
            <!-- search box -->
            <div class="col-4">
                <div class="input-container">
                    <span class="svg-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search d-sm-block d-none" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </span>
                    <input id="search-field" class="form-control me-2" type="search" placeholder="Search users by name"
                        aria-label="Search">
                </div>
            </div>
            <!-- filter -->
            <div id="filter-button-container" class="col-4">
                <div id="filter-button" class="btn-group">
                    <button id="main-filter-button" type="button" class="btn btn-outline-warning">Filter
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-funnel" viewBox="0 0 16 16">
                            <path
                                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z" />
                        </svg>
                    </button>
                    <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item filter-option">
                            All
                        </li>
                        <li class="dropdown-item filter-option">
                            <span class="bullet-span" style="background-color: #ffe207; margin-right: 0.2em;">
                            </span>
                            Online
                        </li>
                        <li class="dropdown-item filter-option">
                            <span class="bullet-span" style="background-color: #67af8e;"></span>
                            Authenticated
                        </li>
                        <li class="dropdown-item filter-option">
                            <span class="bullet-span" style="background-color: #dc3545;"></span>
                            Premium
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- table -->
        <div id="table">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">username</th>
                        <th scope="col">email</th>
                        <th scope="col">posts</th>
                        <th scope="col">scheduled posts</th>
                        <th scope="col">linked accounts</th>
                        <th scope="col">Contact user</th>
                        <th scope="col">Ban user</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </span>
</div>
{% endblock %}