{% extends "main_layout.html" %}

{% block title %}: Dashboard{% endblock %}

{% block main %}
<div id="app-owner-area" class="container-fluid">
    <p id="dashboard-header">SocialHub's Dashboard</p>
    <div id="table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">username</th>
                    <th scope="col">email</th>
                    <th scope="col">posts</th>
                    <th scope="col">scheduled posts</th>
                    <th scope="col">linked accounts</th>
                    <th scope="col">Contact user</th>
                    <th scope="col">Ban user</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}