{% extends "main_layout.html" %}

{% block title %}
: ACCOUNT DELETION
{% endblock %}

{% block main %}
<div class="row justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="col-md-6 text-center text-dark bg-warning rounded-4" id="error_rectangle">
        <h1 class="fw-bolder">ACCOUNT DELETION</h1>
        <h3>Are You Sure You Want To Permanently Delete Your SocialHub Account?</h3>
        <p>This means that your account and all posts associated with it will be permanently lost.</p>
        <div class="container d-flex justify-content-around pt-3">
            <a href="/" class="btn btn-primary">Go Back</a>
            <form action="/delete_account" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}