{% extends "main_layout.html" %}

{% block main %}
<div class="h-100 w-100 d-flex flex-column justify-content-evenly align-items-center">
    <h1 class="text-danger fw-bold">Welcome back, {{username}}!</h1>
    <!-- Chat window -->
    <div id="chat-window"
        class="p-3 rounded-5 d-flex flex-column align-items-center justify-content-between position-relative">
        <!-- Messages area -->
        <div id="messages-area" class="w-100 h-75 rounded-5 bg-body overflow-auto">
        </div>

        <!-- Filter -->
        <span class="p-3 bg-warning rounded-top-5 d-none d-md-inline"
            style="transform: rotate(90deg); position: absolute; top: 7em; right: -6em;">
            <input id="filter-posts" type="range" class="form-range" min="0" max="2" value="0">
        </span>

        <!-- Filter Info -->
        <span class="px-3 bg-info rounded-5 animated-new-post" id="filter-info"
            style="position: absolute; display: none;">
        </span>

        <!-- Bottom -->
        <div class="w-100 m-2 d-flex justify-content-center">
            <form id="message-form" class="d-flex w-100 mx-2">
                <!-- Add button -->
                <button class="btn rounded-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </button>
                <!-- Text area -->
                <textarea id="text-area" class="form-control" rows="1" style="resize: none;"
                    placeholder="Your Post.."></textarea>
                <!-- Send button -->
                <button id="send-button" type="submit" class="btn rounded-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-send" viewBox="0 0 16 16">
                        <path
                            d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Pop up bubble for scheduling post -->
<div class="modal">
    <div class="modal-content">
        <button type="button" class="btn-close close" id="closeModal"></button>
        <h2>Schedule a Post</h2>
        <div class="input-group">
            <textarea id="inputField" class="form-control" rows="1" style="resize: none;"></textarea>
            <input type="datetime-local" class="form-control" id="dateInput">
        </div>
        <button id="submitModal" type="submit" class="btn rounded-5">Submit</button>
    </div>
</div>
{% endblock %}