{% extends "main_layout.html" %}

{% block title %}: Email Authentication{% endblock %}

{% block main %}
<div id="login-director-card" class="align-self-center">
    <div class="card mb-3">
        <div class="card-header bg-danger"><img class="rounded-5" style="width: 8em;" src="{{ email_visuals['src'] }}"
                alt="{{ email_visuals['alt'] }}">
        </div>
        <div class="card-body bg-gradient">
            <h3 class="card-title text-warning">Authentication</h3>
            <p class="card-text">
                It is important to authnticate your Email address, so in case you forget your password we can still
                manage to let you back in using an authenticated Email address.
            </p>
            <p class="card-text">
                One time code was sent to the Email address you provided.
            </p>
            <p class="card-text">
                Please check your inbox, copy the code and paste it right below.
            </p>

            <!-- Form -->
            <form id="email_authentication-form" class="input-group" action="/email_authentication" method="POST">
                <input class="form-control" type="text" id="email_auth_code" name="email_auth_code" placeholder="Code:"
                    required autofocus><br><br>
                <input class="btn btn-primary" type="submit" value="Authenticate">
            </form>
        </div>
    </div>
</div>
{% endblock %}