{% extends "main_layout.html" %}

{% block title %}: Telegram Login{% endblock %}

{% block main %}
<div class="align-self-center" style="max-width: 50%;">
    <div class="card mb-3">
        <div class="card-header bg-danger"><img class="rounded-5" style="width: 8em;" src="{{ social_details['src'] }}"
                alt="{{ social_details['alt'] }}">
        </div>
        <div class="card-body bg-gradient">
            <h3 class="card-title text-warning">Log into Telegram</h3>
            <p class="card-text">
                In order to use SocialHub with your Telegram channel, You will have to add
                <a href="https://t.me/RealSocialHubBot" target="_blank">SocialHub's bot</a>
                to your channel as an administrator.
            </p>
            <p class="card-text">
                After adding the bot to your channel, come back here and type right below your channel's Name.
            </p>

            <!-- Form -->
            <form id="social-media-login-form" class="input-group" action="/available_apps/telegram" method="POST">
                <input class="form-control" type="text" id="chat_name" name="chat_name" placeholder="Channel's Name:"
                    required autofocus><br><br>
                <input class="btn btn-primary" type="submit" value="Log In">
            </form>
        </div>
    </div>
</div>
{% endblock %}