{% extends "main_layout.html" %}

{% block title %}
: Scheduled Posts
{% endblock %}

{% block main %}
<div id="scheduleds-page">
    <div class="container-fluid p-0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Content</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time Left</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Social</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr post-id="{{post['id']}}">
                    <td><strong>{{post["content"]}}</strong></td>
                    <td>{{post["execution_date"]}}</td>
                    <td class="time_left"></td>
                    <td class="d-flex justify-content-around">
                        <button class="btn btn-warning edit-button">Edit</button>
                        <button class="btn btn-danger cancel-button">Cancel</button>
                    </td>
                    <td>Social Icons</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}