{% extends "main_layout.html" %}

{% block title %}: Scheduled Posts{% endblock %}

{% block main %}
<div id="scheduleds-page">
    <div class="container-fluid p-0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Content</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time Left</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Social</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr post-id="{{post['id']}}">
                    <td><strong>{{post["content"]}}</strong></td>
                    <td>{{post["execution_date"]}}</td>
                    <td class="time_left"></td>
                    <td class="d-flex justify-content-around">
                        <span>
                            <button class="btn btn-warning edit-button" data-bs-toggle="modal"
                                data-bs-target="#editsModal">Edit</button>
                            <button class="btn btn-danger cancel-button">Cancel</button>
                        </span>
                    </td>
                    <td>Social Icons</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Edits Modal -->
<div class="modal fade" id="editsModal" tabindex="-1" aria-labelledby="editsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="editsModal-content">
            <div class="modal-header">
                <h3 class="modal-title fw-bold text-warning" id="editsModalLabel">Edit your scheduled posts</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="reposting-form" style="padding-top: 1em;">
                <div class="input-group mb-3">
                    <span class="input-group-text">Post:</span>
                    <input id="edited-post-content" type="text" class="form-control">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Date:</span>
                    <input id="edited-post-date" type="datetime-local" class="form-control">
                </div>
                <hr>
                <div style="display: flex; width: 100%; justify-content: space-between;" class="edited-post-buttons">
                    <button id="edited-post-close" type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Cancel</button>
                    <button id="edited-post-submit" type="submit" class="btn"
                        style="background-color: rgb(158, 0, 158);">Repost</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}